@import url("https://fonts.googleapis.com/css?family=PT+Sans");

html {
  font-size: 10px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  background-color: #d5d9e5;
  color: #292b2c;
  display: flex;
  min-height: 90vh;
  align-items: center;
}

.voiceinator {
  padding: 1.5rem;
  width: 50rem;
  margin: 0 auto;
  border-radius: 1rem;
  position: relative;
  background: #fff;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  width: calc(100% + 4rem);
  margin: 0 0 2rem -2rem;
  padding: 0.5rem;
  text-align: center;
  font-size: rem;
  font-weight: 100;
  font-family: "PT Sans", sans-serif;
}

.voiceinator input,
.voiceinator button,
.voiceinator select,
.voiceinator textarea {
  width: 100%;
  display: block;
  margin: 10px 0;
  padding: 8px;
  font-size: 1.6rem;
  background: #fbfbfc;
  outline: 0;
  font-family: "PT Sans", sans-serif;
  border: 1px solid #c8c7cb;
  border-radius: 2px;
}

label {
  font-size: 2rem;
}

textarea {
  height: 15rem;
}

.voiceinator button {
  background: #72a3da;
  color: #fff;
  border: 0;
  width: 49%;
  float: left;
  font-family: "PT Sans", sans-serif;
  margin-bottom: 0;
  font-size: 2rem;
  cursor: pointer;
  position: relative;
}

.voiceinator button:active {
  top: 2px;
}

.voiceinator button:nth-of-type(1) {
  margin-right: 2%;
}

input[type="range"] {
  -webkit-appearance: none;
  border: 1px solid transparent;
  padding-top: 8px;
  background: #fff;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  background: #e1e1e3;
  border: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #72a3da;
  margin-top: -4px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type="range"]::-moz-range-track {
  height: 5px;
  background: #e1e1e3;
  border: none;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #72a3da;
}

input[type="range"]:-moz-focusring {
  outline: 1px solid #dcdde2;
  outline-offset: -1px;
}

.voiceinator select {
  display: inline-block;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  background: #fbfbfc
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="%23c8c7cb" viewBox="0 0 20 20"><path d="M5 8l6 6 6-6z"/></svg>')
    right 5px center no-repeat;
  padding: 10px 40px 10px 10px;
}

select::-ms-expand {
  display: none;
}

/* Footer Styles */
/* Footer Styles */
footer {
  text-align: center;
  padding: 15px;
  background: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  margin-left: 50%;
}

footer button {
  background: #72a3da;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 20px;
}

footer button:hover {
  background: #5b8cb8;
}



/* Small devices (phones, less than 600px) */
@media only screen and (max-width: 600px) {
  .voiceinator {
    width: 90%;
    padding: 1.5rem;
  }

  h1 {
    font-size: 3rem;
  }

  .voiceinator input,
  .voiceinator button,
  .voiceinator select,
  .voiceinator textarea {
    font-size: 1.5rem;
    padding: 8px;
  }

  textarea {
    height: 15rem;
  }

  .voiceinator button {
    width: 100%;
    float: none;
    margin-right: 0;
  }
}

/* Medium devices (tablets, 600px to 900px) */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .voiceinator {
    width: 70%;
    padding: 2rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  .voiceinator input,
  .voiceinator button,
  .voiceinator select,
  .voiceinator textarea {
    font-size: 1.8rem;
  }

  textarea {
    height: 18rem;
  }

  .voiceinator button {
    width: 48%;
  }
}

/* Large devices (laptops, 900px to 1200px) */
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .voiceinator {
    width: 70rem;
    padding: 3.5rem;
    font-size: 25px;
  }
  .voiceinator input,
  .voiceinator button,
  .voiceinator select,
  .voiceinator textarea {
    font-size:3rem;
  }
  label {
    font-size: 3rem;
  }
  .voiceinator button {
    font-size: 3rem;
  }  
  footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 30px;
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.8); /* Slight transparency */
  }
  footer p {
    margin-left: 20%;
    font-size: 30px;
  }
}

/* Extra Large devices (desktops, more than 1200px) */
@media only screen and (min-width: 1200px) {
  .voiceinator {
    width: 50rem;
  }
}
